# Working with SQL

In [6]:
import numpy as np 

x = np.arange(0,10000.1)
y = np.arange(0,10000.1)
z = x*0

In [7]:
%%time
print(x+y)

[0.0000e+00 2.0000e+00 4.0000e+00 ... 1.9996e+04 1.9998e+04 2.0000e+04]
Wall time: 1.99 ms

In [47]:
i = np.arange(0,1000001)

z[i] = x[i] + y[i]

IndexError: index 10001 is out of bounds for axis 0 with size 10001

In [11]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %sql  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%sql postgresql://env_master:xxxxxx@localhost/env_db

'Connected: env_master@env_db'

In [20]:
%%sql 
CREATE TABLE public."Sells"
(
    bar varchar(50),
    beer varchar(50),
    price decimal(7, 2)
);

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [27]:
%%sql 
INSERT INTO public."Sells" values ('Joes', 'Bud', 2.50);
INSERT INTO public."Sells" values ('Joes', 'Miller', 2.75);
INSERT INTO public."Sells" values ('Sues', 'Bud', 2.50);
INSERT INTO public."Sells" values ('Sues', 'Coors', 3.00);

 * postgresql://env_master:***@localhost/env_db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [28]:
%%sql 
select * from "Sells"

 * postgresql://env_master:***@localhost/env_db
4 rows affected.

[('Joes', 'Bud', Decimal('2.50')),
 ('Joes', 'Miller', Decimal('2.75')),
 ('Sues', 'Bud', Decimal('2.50')),
 ('Sues', 'Coors', Decimal('3.00'))]

In [29]:
%%sql
CREATE TABLE "Bars"
(
    name varchar(50),
    addr varchar(50)
);

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [30]:
%%sql 
INSERT INTO "Bars" values ('Joes', 'Maple St.');
INSERT INTO "Bars"(name) values ('Sues');
UPDATE "Bars" SET "addr" = 'River Rd.' WHERE "name" = 'Sues';

 * postgresql://env_master:***@localhost/env_db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [31]:
%%sql
select * from "Bars"

 * postgresql://env_master:***@localhost/env_db
2 rows affected.

[('Joes', 'Maple St.'), ('Sues', 'River Rd.')]

In [39]:
%%sql 
select * from "Sells" WHERE "bar"='Joes'; 
select distinct "bar" from "Sells";

 * postgresql://env_master:***@localhost/env_db
2 rows affected.
2 rows affected.

[('Sues',), ('Joes',)]