In [226]:
import pandas as pd 
import os

In [227]:
data_path = r"..\data\DWD\annual\kl\historical"
filename = r"KL_Jahreswerte_Beschreibung_Stationen.txt"

In [228]:
print(f"Data Path: {data_path:s}")

Data Path: ..\data\DWD\annual\kl\historical

In [229]:
df = pd.read_fwf(data_path+"/"+filename,skiprows=[0,1], encoding ="cp1252",names=fh,parse_dates=["von_datum","bis_datum"],index_col=0)
df.head()

,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland
Stations_id,,,,,,,
1,1931-01-01,1986-06-30,478,47.8413,8.8493,Aach,Baden-Württemberg
3,1851-01-01,2011-03-31,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen
44,1971-03-01,2020-12-31,44,52.9336,8.2370,Großenkneten,Niedersachsen
52,1973-01-01,2001-12-31,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein
61,1975-07-01,1978-08-31,339,48.8443,12.6171,Aiterhofen,Bayern

In [230]:
file = open(data_path+"/"+filename,"r")
r = file.readline()
file.close()

In [231]:
fh = r.split()

In [232]:
datefrom="1930"
dateto = "2020-12-31"

#extracting the dateline
def interval(df):
    index = (df.von_datum < datefrom) & (df.bis_datum == dateto) & (df.Bundesland == "Nordrhein-Westfalen")
    limit = df.loc[index]
    return(limit)

In [233]:
date_frame = interval(df)

In [234]:
date_frame

,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland
Stations_id,,,,,,,
1303,1888-01-01,2020-12-31,150,51.4041,6.9677,Essen-Bredeney,Nordrhein-Westfalen
2483,1926-11-01,2020-12-31,839,51.1803,8.4891,Kahler Asten,Nordrhein-Westfalen
2629,1851-01-01,2020-12-31,46,51.7612,6.0954,Kleve,Nordrhein-Westfalen
2968,1903-01-01,2020-12-31,43,50.9894,6.9777,Köln-Stammheim,Nordrhein-Westfalen
5717,1907-01-01,2020-12-31,134,51.2256,7.1052,Wuppertal-Buchenhofen,Nordrhein-Westfalen

In [235]:
len(date_frame)

5

In [236]:
import numpy as np

In [237]:
x = np.arange(0,10)

In [238]:
y = x < 6

In [239]:
fname_list = os.listdir(data_path)

In [240]:
a = fname_list[9].split("_")

In [241]:
a[2]

'00078'

In [242]:
for elt in fname_list:
    key_string = (elt.split("_")[2])

In [243]:
f_dict = {}

for val in fname_list:
    try:    
        key = val.split("_")[2]
        f_dict[int(key)] = val    
   
    except:
        print(f"Cannot convert to integer \'{key:s}\' to integer")

Cannot convert to integer 'Beschreibung' to integer

In [244]:
list(date_frame.index)

[1303, 2483, 2629, 2968, 5717]

In [245]:
for no in date_frame.index:
    print(f_dict[no])

jahreswerte_KL_01303_18880101_20201231_hist.zip
jahreswerte_KL_02483_19290101_20201231_hist.zip
jahreswerte_KL_02629_18510101_20201231_hist.zip
jahreswerte_KL_02968_19030101_20201231_hist.zip
jahreswerte_KL_05717_19070101_20201231_hist.zip

In [246]:
zip_list = []
for no in date_frame.index:
    zip_list.append(data_path+"/"+f_dict[no])

In [247]:
from zipfile import ZipFile

In [248]:
elt = zip_list[0]

In [249]:
with ZipFile(elt) as myzip:
    print(myzip.namelist())

['Metadaten_Fehldaten_01303_18880101_20201231.html', 'Metadaten_Fehldaten_01303_18880101_20201231.txt', 'Metadaten_Fehlwerte_01303_18880101_20201231.txt', 'Metadaten_Fehlwerte_Gesamt_01303.txt', 'Metadaten_Geographie_01303.txt', 'Metadaten_Geraete_Bedeckungsgrad_01303.html', 'Metadaten_Geraete_Bedeckungsgrad_01303.txt', 'Metadaten_Geraete_Lufttemperatur_01303.html', 'Metadaten_Geraete_Lufttemperatur_01303.txt', 'Metadaten_Geraete_Lufttemperatur_Maximum_01303.html', 'Metadaten_Geraete_Lufttemperatur_Maximum_01303.txt', 'Metadaten_Geraete_Lufttemperatur_Minimum_01303.html', 'Metadaten_Geraete_Lufttemperatur_Minimum_01303.txt', 'Metadaten_Geraete_Niederschlagshoehe_01303.html', 'Metadaten_Geraete_Niederschlagshoehe_01303.txt', 'Metadaten_Geraete_Sonnenscheindauer_01303.html', 'Metadaten_Geraete_Sonnenscheindauer_01303.txt', 'Metadaten_Parameter_klima_jahr_01303.html', 'Metadaten_Parameter_klima_jahr_01303.txt', 'Metadaten_Stationsname_01303.html', 'Metadaten_Stationsname_01303.txt', 'produkt_klima_jahr_18880101_20201231_01303.txt']

In [250]:
prodfilename = [name for name in myzip.namelist() if name.split("_")[0]=="product"][0]

IndexError: list index out of range

In [251]:
name for name in myzip.namelist()

SyntaxError: invalid syntax (Temp/ipykernel_7152/3031048775.py, line 1)

In [254]:
import pandas as pd
from zipfile import ZipFile

# Very compact code.
df = pd.DataFrame()
for elt in zip_list:
    with ZipFile(elt) as myzip:
        
        # read the time series data from the file starting with "produkt"
        prodfilename = [name for name in myzip.namelist() if name.split("_")[0]=="produkt"][0] 
        #print(prodfilename)
        
        # open just the produkt file within the archive
        with myzip.open(prodfilename) as myfile:
            dftmp = pd.read_csv(myfile, sep =";", parse_dates = ["MESS_DATUM_BEGINN", "MESS_DATUM_ENDE"], index_col = "MESS_DATUM_BEGINN", na_values = [-999.0])
            # select the series with the average annual temp ("JA_TT"), rename the series with the station_id and make it a df.
            s = dftmp["JA_TT"].rename(dftmp["STATIONS_ID"][0]).to_frame()
            # outer merge.
            df = pd.merge(df, s, left_index=True, right_index=True, how='outer')

#df.index.names = ["year"]
df.index.rename(name = "year", inplace = True)
df.head()

            1303  2483  2629  2968  5717
year
1851-01-01   NaN   NaN  8.73   NaN   NaN
1852-01-01   NaN   NaN  9.90   NaN   NaN
1853-01-01   NaN   NaN  7.89   NaN   NaN
1854-01-01   NaN   NaN  9.09   NaN   NaN
1855-01-01   NaN   NaN  7.34   NaN   NaN